<% content_for :search_body do %>
  <%= will_paginate @jobs, style: "align-text: center;" %>
  <div id="map" style='width: 100%; height: 500px;'></div>
  <br>
  <table class="table table-striped table-hover table-condense"> 
    <thead> 
      <tr class="info"> 
        <td> 最新更新 </td>
        <td> 志工服務 </td>
        <td> 地點 </td>
      </tr>
    </thead>
    <tbody> 
    <%= render partial: 'jobs/job_list', collection: @jobs, as: :job, locals: {length: 26} %>
    </tbody>
  </table>
  <%= will_paginate @jobs, style: "align-text: center;" %>
<% end %>

<%= render 'search' %>

<script type="text/javascript">
  initGmaps(<%= raw @hash.to_json %>)
</script>
