<div class="blog-post">
  <h2 class="blog-post-title"> <%= post.title %> </h2>
  <p> 
    <%= link_image_tag current_user.try(:image) %>
    <%= link_to @user.name, user_profile_path(@user.name, @user.id) %>
  </p>
  <p class="blog-post-meta"> <%= post.updated_at.localtime.strftime("%R %m/%d %a, %Y") %> </p>
  <%= simple_format post.content %><br />
  <% if current_user==@user %>
    <%= link_to "編輯文章", edit_post_path(@user.name, @user.id, post), class: "btn btn-warning" %>
    <%= link_to "刪除文章", post_path(@user.name, @user.id , post), class: "btn btn-danger btn-sm", method: :delete, confirm: "確定刪除？" %>
  <% end %>
  <hr>
</div>
