<div class="row"> 
  <!-- left column -->
  <div class="col-md-3"> 
    <div class="text-center"> 
      <%= image_tag "profile-icon.png", size: "220" %>
    </div>
  </div>
  <!-- right column -->
  <div class="col-md-9"> 
    <div class="row">
      <div class="col-md-4"> 
          <h1> <%= link_to "#{@user.name}'s Page", user_profile_path(@user.name, @user.id) %> </h1>
      </div>
      <div class="col-md-2">
        <%= friend_btn_tag(@user) %>
      </div>
    </div>

        <% if current_user!=@user %>
          <div class="alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a> 
            <i class="fa fa-coffee"></i>
            This is an <strong>.alert</strong>. Use this to show important messages to the user.
            <%= notice_tag %>
            <%= alert_tag %>
          </div>
        <% end %>

        <%= tabs do |t| 
          t.tab('Profile') do
            %(I'm tab #1.)
          end                                                                                                                                        
          t.tab('About') do
            %(I'm tab #2.)
          end

          t.tab('Friends') do
            %(I'm tab #2.)
          end

          end %>



  </div>
</div>


<li> <%= link_to "About" %> </li>
<li> <%= link_to "Posts" %> </li>
<li> <%= link_to "Friends", user_friends_path(@user.name, @user.id) %> </li>

<ul class="nav pills pull-right">
</ul>
