<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to root_path, class: "navbar-brand" do %>
        <i class="glyphicon glyphicon-home white"></i> 黎明志工銀行
      <% end %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to posts_index_path, class: "navbar-brand" do %>
            <i class="glyphicon glyphicon-list-alt"></i> 志工文章
          <% end %>
        <li> 
          <%= render 'layouts/search_bar' %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.try(:admin) %>
        <li> <%= link_to "Users", admin_users_path %> </li>
        <% end %>
        <li> <%= link_image_tag current_user.try(:image) %> </li>
        <li> <%= user_tag %> </li>
        <li> <%= signup_tag %> </li>
        <li> <%= login_tag %> </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
