<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to root_path, class: "navbar-brand", 'data-no-turbolink' => true do %>
        <i class="glyphicon glyphicon-home white"></i> 黎明志工銀行
      <% end %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to posts_index_path, class: "navbar-brand" do %>
            <i class="glyphicon glyphicon-list-alt"></i> 志工文章
          <% end %>
        </li>
        <li> 
          <%= render 'layouts/search_bar' %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.try(:admin) %>
        <li> <%= link_to "Users", admin_users_path %> </li>
        <% end %>
        <li> <%= current_user_image_tag %> </li>
        <li> <%= user_tag %> </li>
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" >
            <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li> <%= link_to "編輯個人帳戶", edit_user_registration_path %> </li>
              <li> <%= link_to "編輯個人資訊", "#"  %> </li>
              <li class="divider"></li>
              <li> <%= link_to "登出", destroy_user_session_path, method: :delete %> </li>
            </ul>
          </li>
        <% end %>
        <li> <%= signup_tag %> </li>
        <li> <%= login_tag %> </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
