<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div id="navbar" class="navbar-collapse collapse">
      <!-- left -->
      <ul class="nav navbar-nav">
        <%= nav_link_to "黎明志工銀行", root_path, path_controller: "jobs", icon: "home" %>
        <%= nav_link_to "志工文章", posts_index_path, path_controller: "posts", icon: "list-alt" %>
        <li> <%= render 'layouts/search_bar' %> </li>
      </ul>
      <!-- right -->
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.try(:admin) %>
        <li> <%= link_to "Users", admin_users_path %> </li>
        <% end %>
        <li> <%= current_user_image_tag %> </li>
        <li> <%= nav_user_tag %> </li>
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" >
            <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <% if current_user.provider == "dawnbank" %>
                <li> <%= link_to "編輯個人帳戶", edit_user_registration_path %> </li>
              <% end %>
              <li> <%= link_to "編輯個人資訊", "#"  %> </li>
              <li class="divider"></li>
              <li> <%= link_to "登出", destroy_user_session_path, method: :delete %> </li>
            </ul>
          </li>
        <% end %>
        <%= signup_tag %>
        <%= login_tag %>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/ container -->
</nav>
